@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&display=swap');


body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 93.75%;
    overflow: auto;
}

.block{
    
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
}

.col1{
    width: 220px;
    padding: 50px;
    
}

.colheading{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 300%;
    color: white;
    margin-block: 30px;
    text-transform: uppercase;
}

.coltext{
    font-family: 'Lexend Deca', sans-serif;
    color:  hsl(0, 0%, 95%);
}

button{
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    border: 2px solid transparent;
    margin-top: 5rem;
    transition: 0.4s;
}

button:hover{
    border: 2px solid hsl(0, 0%, 95%);;
    color: hsl(0, 0%, 95%);
    background-color: transparent;
}

@media(max-width: 600px){
    body{
        height: auto;
    }
    .block{
        height: auto;
        width: auto;
        flex-direction: column;
        flex-wrap: nowrap;
    }
} 
